*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #003049;
}
body{
    background-color: #eae2b7;
    min-height: 740px;
    max-width: 360px;
    position: relative;
}
.flex-all-center{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
}
.todo{
    flex: 5 1 360px;
    order: 1;
}
.todo > h1{
    text-align: center;
}
/* Input Section */
.inputSection{

}
.upperRow{
    display: flex;
    justify-content: center;
    height: 3em;
}
#inputTask{
    width: 85%;
    font-size: 1.4em;
    overflow: auto;
    border: 1px solid rgba(255, 255, 255, 0.322);
    border-radius: 1em;
    padding: 0 15px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.322);
}
#addButton{
    width: 15%;
    text-shadow: 10px 10px black;
}
.lowerRow{
    margin-top: 0.5em;
}
#inputDescription{
    font-family: monospace;
    font-style: normal;
    font-size: 1.3em;
    border-radius: 1em;
    border: 1px solid #fddb97;
    padding: 10px;
    outline: none;
    background-color: #fddb97;
    width: 100%;
}

/* To do list Section */

#todoList{
    list-style-type: none;
    width: 100%;
    padding: 0;
}
#todoList > li{
    margin: 5px 0;
}
.list{
    background-color: #fcbf49;
    width: 100%;
    padding: 10px 20px;
    border-radius: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
.list > *{
    margin: 10px 0;
}
.list > div{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.list > div > *{
    margin: 0;
}
.list > div > p::first-letter{
    text-transform: uppercase;
}
.task{
    font-weight: 600;
    font-size: 22px;
    width: 80%;
    word-wrap: break-word;
}
.list > div > div { 
    flex: 1 20%;
    display: flex;
    justify-content: space-evenly;
}
.list > div > div > img:first-of-type{
    width: 36%;
}
.list > div > div > img:last-of-type{
    width: 30%;
}
.description{
    flex: 1 100%;
    font-size: 20px;
}
.date{
    font-size: 15px;
}
.support{
    order: 2;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 0;
    margin-top: 20px;
}
.support > ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
}
.support > ul > li{
    margin: 6px 2px;
}
.social{
}
.social > img {
    margin-right: 10px;
}
.social > img[alt="facebook"]{
    width: 17px;
}
.social > img[alt="twitter"]{
    width: 24px;
}
.social > img[alt="github"]{
    width: 24px;
}
.to-top{
    width: 50px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
/* For tablet sized screen */
@media screen and (min-width: 600px) {

    .todo{
        width: 50%;
    }
}
/* For Laptop sized screen */
@media screen and (min-width: 800px) {
    .todo{
        width: 30%;
    }
}
