*{
    font-family: 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    color:rgb(22, 6, 58);
    padding: 0;
    margin: 0;
}
#top{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #eae2b7;
}
.todo{
    scroll-behavior: smooth;
    flex: 1 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    min-height: 90vh;
    max-width: 340px;
    position: relative;
}
.todo > h1 {
    text-align: center;
    margin: 20px 0;
}
.inputSection{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
.upperRow{
    order: 1;
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#inputTask{
    width: 85%;
    height: 100%;
    font-size: 1.4em;
    overflow: auto;
    border: 1px solid rgba(255, 255, 255, 0.322);
    border-radius: 1em;
    padding: 0 15px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.322);
    font-weight: 100;
}
#addButton{
    width: auto;
    margin-left: 5px;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 6px rgb(104, 104, 104);
    border: none;
    transform: translateY(-6px);
}
#addButton:hover{
    stroke: white;
}
#addButton:active{
    transform: translateY(0px);
    box-shadow: 0 2px rgb(104, 104, 104);
    transition: 0.15s;
}
.lowerRow{
    order: 2;
    width: 100%;
    margin: 10px 0 10px 0;
}
#inputDescription{
    font-family: monospace;
    font-style: normal;
    font-size: 1.3em;
    border-radius: 1em;
    border: 1px solid #fddb97;
    padding: 10px;
    outline: none;
    background-color: #fddb97;
    width: 100%;
}
.todoListContainer{
    width: 100%;
}
#todoList{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.list{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start ;
    width: 100%;
    background-color: #fcbf49;
    padding:  20px;
    border-radius: 1em;
    margin: 5px 0;
}
.list > div:first-of-type{
    flex: 2 1 100%;
}
.task{
    font-size: 25px;
    margin: 0;
    overflow-wrap: anywhere;
}
.task::first-letter{
    text-transform: uppercase;
}
.list > div:nth-of-type(2) {
    flex: 2 1 100%;
}
.list > div:nth-last-of-type(2) > p{
    overflow-wrap: anywhere;
    font-size: 100;
}
.list > div:last-of-type{
    flex: 2 1 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
img[alt="edit"]{
    flex: 1 1 8%;
    order: 2;
    width: 100%;
    margin-right: 4px;
}
img[alt="delete"]{
    flex: 1 1 5%;
    order: 3;   
    width: 100%;
}
.date{
    flex: 2 1 70%;
    order: 1;
    display: block;
    width: auto;
}
.to-top{
    position: sticky;
    position: -webkit-sticky;
    left: 10px;
    bottom: 10px;
    width: 30px;
}
.to-top > img{
    width: 100%;
}
.support{
    max-width: 340px;

}
.support > ul{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}
.support a{
    text-decoration: none;
}
.support a:hover{
    color: rgba(31, 6, 88, 0.753);
}
.support > ul li{
    flex: 2 1 33%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
img[alt="facebook"]{
    width: 20px;
}
img[alt="twitter"]{
    width: 30px;
}
img[alt="github"]{
    width: 30px;
}
@media screen and (min-width: 460px) {
    .todo, .support{
        min-width: 70vh;
    }
}